/.CFUserTextEncoding
/.NERDTreeBookmarks
/.anyconnect
/.bash_history
/.berkshelf/
/.cache/
/.coffee_history
/.composer/
/.config/
/.dropbox/
/.gem/
/.gradle/
/.irssi/
/.lesshst
/.my.cnf
/.mysql_history
/.newsbeuter/
/.node-gyp/
/.npm/
/.npmrc
/.pdepend/
/.php_history
/.pm2/
/.pow
/.powconfig
/.ssh/
/.subversion/
/.sumorc
/.vagrant.d/
/.viminfo
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/VirtualBox VMs/
/build/
/metro-tile.png
