[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".bash/bundler-exec"]
	path = .bash/bundler-exec
	url = git@github.com:gma/bundler-exec.git
[submodule ".git_template/hooks"]
	path = .git_template/hooks
	url = git@github.com:WouterSioen/pre-commit.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/phpcomplete"]
	path = .vim/bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-php-namespace"]
	path = .vim/bundle/vim-php-namespace
	url = git@github.com:arnaud-lb/vim-php-namespace.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/snippets"]
	path = .vim/snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/php-refactoring-toolbox"]
	path = .vim/bundle/php-refactoring-toolbox
	url = git@github.com:adoy/vim-php-refactoring-toolbox.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule ".vim/bundle/fugitive-gitlab"]
	path = .vim/bundle/fugitive-gitlab
	url = git@github.com:shumphrey/fugitive-gitlab.vim.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-phpunit"]
	path = .vim/bundle/vim-phpunit
	url = git@github.com:afternoon/vim-phpunit.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule ".bash/.vim/bundle/vim-polyglot"]
	path = .bash/.vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-vue"]
	path = .vim/bundle/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
