[submodule ".bash/bundler-exec"]
	path = .bash/bundler-exec
	url = git@github.com:gma/bundler-exec.git
[submodule ".git_template/hooks"]
	path = .git_template/hooks
	url = git@github.com:WouterSioen/pre-commit.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/snippets"]
	path = .vim/snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/pack/wouter/start/nerdtree"]
	path = .vim/pack/wouter/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/wouter/start/vim-sensible"]
	path = .vim/pack/wouter/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/wouter/start/editorconfig-vim"]
	path = .vim/pack/wouter/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/pack/wouter/start/supertab"]
	path = .vim/pack/wouter/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/pack/wouter/start/phpcomplete.vim"]
	path = .vim/pack/wouter/start/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/pack/wouter/start/vim-colors-solarized"]
	path = .vim/pack/wouter/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/wouter/start/syntastic"]
	path = .vim/pack/wouter/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/wouter/start/vim-php-namespace"]
	path = .vim/pack/wouter/start/vim-php-namespace
	url = git@github.com:arnaud-lb/vim-php-namespace.git
[submodule ".vim/pack/wouter/start/vim-fugitive"]
	path = .vim/pack/wouter/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/wouter/start/vim-php-refactoring-toolbox"]
	path = .vim/pack/wouter/start/vim-php-refactoring-toolbox
	url = git@github.com:adoy/vim-php-refactoring-toolbox.git
[submodule ".vim/pack/wouter/start/vim-gutentags"]
	path = .vim/pack/wouter/start/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/wouter/start/vim-polyglot"]
	path = .vim/pack/wouter/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/pack/wouter/start/ultisnips"]
	path = .vim/pack/wouter/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/pack/wouter/start/vim-rhubarb"]
	path = .vim/pack/wouter/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".vim/pack/wouter/start/auto-pairs"]
	path = .vim/pack/wouter/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule ".vim/pack/wouter/start/ack.vim"]
	path = .vim/pack/wouter/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/pack/wouter/start/fzf.vim"]
	path = .vim/pack/wouter/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/wouter/start/lightline.vim"]
	path = .vim/pack/wouter/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/pack/wouter/start/vim-highlightedyank"]
	path = .vim/pack/wouter/start/vim-highlightedyank
	url = git@github.com:machakann/vim-highlightedyank.git
[submodule ".vim/pack/wouter/start/vim-deviocons"]
	path = .vim/pack/wouter/start/vim-deviocons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule ".vim/pack/wouter/start/ctrlp.vim"]
	path = .vim/pack/wouter/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
